version: '3.8'

services:
  evolution-api:
    image: atendai/evolution-api:v2.1.1
    container_name: evolution_api_barberhost-saas
    restart: always
    ports:
      - "8081:8080"
    environment:
      - SERVER_URL=http://localhost:8081
      - DOCKER_ENV=true
      - AUTHENTICATION_API_KEY=B3736524-7663-4700-9189-548348705055
      - DATABASE_PROVIDER=postgresql
      - DATABASE_CONNECTION_URI=postgresql://postgres:postgres@supabase_db_barberhost-saas:5432/postgres?schema=evolution
      # Redis Config
      - CACHE_REDIS_ENABLED=true
      - CACHE_REDIS_URI=redis://evolution_redis_barberhost-saas:6379/0
      - REDIS_ENABLED=true
      - REDIS_URI=redis://evolution_redis_barberhost-saas:6379/0
    depends_on:
      - redis
    networks:
      - supabase_network_barberhost-saas

  redis:
    image: redis:alpine
    container_name: evolution_redis_barberhost-saas
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redis_data:/data
    networks:
      - supabase_network_barberpro-saas

networks:
  supabase_network_barberhost-saas:
    external: true

volumes:
  redis_data:
